{
	"tabWidth": 3,
	"useTabs": true,
	"bracketSameLine": false,
	"singleAttributePerLine": false,
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 100,
	"semi": true,
	"singleQuote": true
}
