<nav class="bg-white border-b border-gray-200 py-4 fixed w-full z-10 top-0">
	<div class="limiter flex justify-between w-11/12 mx-auto">
		<a href="/" class="inline-flex w-full font-['Pacifico'] text-2xl text-blue-600"> Salient </a>
		<div *ngIf="!loggedIn" class="inline-flex w-full justify-end flex-row">
			<button mat-stroked-button matButton routerLink="/login" style="margin-right: 0.75rem">Login</button>
			<button mat-flat-button matButton routerLink="/signup" color="primary">Create Account</button>
		</div>
		<div *ngIf="loggedIn" class="inline-flex w-full justify-end flex-row">
			<div class="flex flex-row justify-center items-center" [matMenuTriggerFor]="beforeMenu">
				<span class="mr-3 text-sm text-gray-500">{{ currentUser.username }}</span>
				<div class="w-8 h-8">
					<img
						class="w-full h-full object-cover rounded-full"
						[src]="currentUser.profile_pic ?? 'assets/images/profile/default_profile_pic.jpg'"
					/>
				</div>
				<mat-icon class="text-gray-500 text-md ml-2 font-bold">expand_more</mat-icon>
			</div>
			<mat-menu class="mt-3 min-w-[200px_!important] max-w-[0px_!important]" #beforeMenu="matMenu" xPosition="before">
				<div mat-menu-item style="display: flex !important" class="justify-between items-center" routerLink="/profile">
					<div>Profile</div>
					<mat-icon style="display: flex !important" class="text-[20px] justify-end justify-self-end items-center"> person </mat-icon>
				</div>
				<!-- <button
					[disabled]="true"
					mat-menu-item
					style="display: flex !important"
					class="justify-between items-center"
					routerLink="/profile/edit"
				>
					<div>Edit Profile</div>
					<mat-icon style="display: flex !important" class="text-[20px] justify-end justify-self-end items-center">
						manage_accounts
					</mat-icon>
				</button> -->
				<mat-divider></mat-divider>
				<div mat-menu-item style="display: flex !important" class="justify-between items-center" (click)="logoutUser()">
					<div>Logout</div>
					<mat-icon style="display: flex !important" class="text-[20px] justify-end justify-self-end items-center"> logout </mat-icon>
				</div>
			</mat-menu>
		</div>
	</div>
</nav>
