<!-- TODO: Get some High quality gradients -->
<!-- TODO: Enchance admin and site features -->
<!-- TODO: Add loading for gradients before they popin -->

<article class="relative">
  <button
    *ngIf="isLoggedIn && !gradient.is_favorite"
    aria-label="Save gradient to favourites"
    class="p-2.5 rounded-full transition-colors bg-gray-800 absolute top-4 right-4 text-white hover:bg-blue-500"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="w-4 h-4"
    >
      <path
        fill-rule="evenodd"
        d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <div
    class="h-64 rounded-3xl border border-gray-200"
    #gradientElement
    id="gradient_element"
  ></div>
  <div
    class="p-6 mx-1.5 text-gray-900 bg-white border border-gray-200 border-t-0 rounded-3xl -mt-8"
  >
    <div class="flex items-center justify-between">
      <p class="font-black tracking-wide">
        {{ gradient.name | titlecase }}
      </p>
      <div>
        <div class="flex items-center space-x-2">
          <div
            (click)="copyGradient(gradientElement)"
            class="grid place-items-center p-2.5 rounded-xl text-[5px] bg-white text-gray-700 border-2 border-gray-200 hover:text-white hover:bg-gray-700 hover:border-2 hover:border-transparent transition-colors"
          >
            <mat-icon
              aria-label="Copy CSS"
              style="width: auto; height: auto; font-size: 1rem"
            >
              content_copy
            </mat-icon>
          </div>
          <div
            [matMenuTriggerFor]="colorsMenu"
            class="grid place-items-center p-2.5 rounded-xl text-[5px] bg-white text-gray-700 border-2 border-gray-200 hover:text-white hover:bg-gray-700 hover:border-2 hover:border-transparent transition-colors"
          >
            <mat-icon
              aria-label="Colors Used"
              style="width: auto; height: auto; font-size: 1rem"
            >
              more_horiz
            </mat-icon>
            <mat-menu #colorsMenu="matMenu">
              <button
                *ngFor="let color of gradientColors; let $index = index"
                (click)="copyColor(color)"
                mat-menu-item
              >
                <mat-icon [ngStyle]="{ color: color, marginRight: '10px' }">
                  palette
                </mat-icon>
                <span>Copy Color</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
