<section class="h-screen">
  <div class="bg-red-400 flex items-center justify-center h-[50vh]">
    <div
      class="rounded-md flex flex-col items-center justify-center bg-white w-1/2 pt-20 pb-12 relative"
    >
      <div class="w-40 h-40 absolute -top-20">
        <img
          [src]="
            currentUser.profile_pic ??
            'assets/images/profile/default_profile_pic.jpg'
          "
          class="w-full h-full object-cover rounded-full border-8 border-white"
        />
      </div>
      <div
        *ngIf="!currentUser"
        class="flex justify-center flex-col items-center mt-5"
      >
        <svg
          class="animate-spin h-8 w-8 text-red-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
      <div
        *ngIf="currentUser"
        class="flex justify-center flex-col items-center mt-5"
      >
        <h2>
          {{ currentUser.username ?? "username" }}
        </h2>
        <p>{{ currentUser.email ?? "username@mail.com" }}</p>
      </div>
    </div>
  </div>
</section>
