<section class="flex flex-col items-center justify-center mt-24 mx-auto">
	<div class="rounded-md grid grid-cols-[2fr_8fr] gap-x-9 bg-white w-[55%]">
		<div class="w-40 h-40">
			<img
				[src]="currentUser?.profile_pic ?? 'assets/images/profile/default_profile_pic.jpg'"
				class="w-full h-full object-cover rounded-full border-8 border-white"
			/>
		</div>
		<div *ngIf="!currentUser" class="loading-animation flex justify-center flex-col items-center mt-5">
			<svg class="animate-spin h-8 w-8 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
				<path
					class="opacity-75"
					fill="currentColor"
					d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
				></path>
			</svg>
		</div>

		<div *ngIf="currentUser" class="flex flex-col py-4">
			<h2 class="text-[28px] mb-3 font-[400]">
				{{ currentUser?.username ?? 'username' | lowercase }}
				<span *ngIf="currentUser?.role == 'admin'" class="w-[23px] inline-block text-blue-500 fill-blue-500">
					<svg viewBox="0 0 24 24" aria-label="Verified account">
						<g>
							<path
								d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"
							></path>
						</g>
					</svg>
				</span>
			</h2>
			<ul class="flex flex-row mb-4">
				<li class="mr-8">
					<span class="font-bold">{{ this.gradientCount ?? this.gradientCount }}</span>
					gradients
				</li>
				<li class="mr-8"><span class="font-bold">0</span> followers</li>
				<li class=""><span class="font-bold">0</span> following</li>
			</ul>
			<h2 *ngIf="currentUser.first_name && currentUser.last_name" class="font-[500] mb-2">
				{{ currentUser.first_name + ' ' + currentUser.last_name | titlecase }}
			</h2>
			<pre class="font-sans">{{ currentUser?.bio ?? currentUser.bio }}</pre>
		</div>
	</div>
	<div class="mx-auto mt-4 w-[55%]">
		<mat-tab-group>
			<mat-tab label="Gradients">
				<div class="grid grid-cols-2 gap-5 pt-5 overflow-y-visible">
					<app-gradient-card *ngFor="let gradient of currentUser?.gradients" [gradient]="gradient"></app-gradient-card>
				</div>
			</mat-tab>
			<mat-tab label="Favourites"></mat-tab>
		</mat-tab-group>
	</div>
</section>
